@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: rgb(255, 255, 255, 0.75);
  background: rgb(0, 0, 0, 0.25);
  border-radius: 20px;
}

#start:hover span {
  display: none;
}

#start:hover:before {
  content: "♪~（＾▽＾）人( •̀ ω •́ )y♫";
  font-size: 44px;
}

@media screen and (max-width: 768px) {
  #start:hover:before {
    content: "♪~（＾▽＾）人( •̀ ω •́ )y♫";
    font-size: 30px;
  }
}

#poke1, #poke2, #poke3 {
  height: 350px;
}

#canvas {
  top: 300px;
  right: 80px;
}
